@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4 text-primary">Welcome</h1>
   <h4 class="text-danger">@TempData["Messagelogin"]</h4> 
    <h4><u>Travel Experts</u></h4>
    <p class="h4 text-danger">Explore the world with us</p>
</div>
<div>

    </div>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="../Images/image1.jpg" alt="travel images" style="height:280px;width:360px">
        <div class="caption">
          <p class="text-success">Eiffel Tower is in Paris, France.Tower is 330 metres high.On every floor there is a range of gift or restaurants.</p>
        </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="../Images/imageb.jpg" alt="Nature" style="height:280px;width:360px">
        <div class="caption">
          <p class="text-success">Banff is in Alberta Province of Canada. It is a resort town and most attractive tourist place.</p>
        </div>
    
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="../Images/imagec.jpg" alt="Travel images" style="height:280px;width:360px">
        <div class="caption">
          <p class="text-success">A beach resort in Maldives.There is lot of water activicties.</p>
        </div>
    
    </div>
  </div>
</div>